@media (max-width: 1080px) {
  .projects {
    &-text {
      display: none;
    }

    &-gallery {
      & > li:nth-child(odd),
      & > li:nth-child(even) {
        margin: unset;
      }

      & > li:not(li:last-child) {
        margin-bottom: 8rem;
      }
    }
  }
}

@media (min-width: 501px) and (max-width: 1080px) {
  .projects {
    &-text {
      display: unset;
      letter-spacing: 1px;
    }

    &-gallery {
      margin-top: 10rem;

      & > li:not(li:last-child) {
        margin-bottom: 10rem;
      }
    }
  }
}
