.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f8f9fa;

  &-text {
    font-style: italic;
    font-size: 1.6rem;
    color: #626262;
    letter-spacing: 2px;

    margin-top: 2rem;
  }

  &-gallery {
    margin-top: 6rem;

    h3 {
      display: none;
    }

    & > li:nth-child(odd) {
      float: left;
      margin-left: 2rem;
    }

    & > li:nth-child(even) {
      float: right;
      margin-right: 2rem;
    }

    & > li:not(li:last-child) {
      margin-bottom: 5rem;
    }
  }
}

@import 'mobile';
