@media (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: column;

    .title {
      align-self: center;
    }

    &-wrapper {
      grid-template-columns: 1fr;
      margin-top: 3rem;
    }

    .traits {
      padding: 0;
    }

    &-content {
      ul {
        height: unset;
        margin-left: 1rem;
        padding-right: 1rem;
      }

      p {
        text-indent: 0;
      }
    }
  }
}

@media (min-width: 501px) and (max-width: 1080px) {
  .about {
    &-wrapper {
      grid-template-columns: 1fr;
    }

    .traits {
      padding-right: 0;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        height: unset;
      }

      h4 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.4rem;
        text-indent: 1rem;
      }
    }
  }
}

@media (min-width: 1081px) and (max-width: 1300px) {
  .about {
    &-content {
      p {
        text-indent: 0;
      }
    }
  }
}
