.about {
  max-width: 100%;
  padding: 10rem 0;

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 5rem;
  }

  .traits {
    padding-right: 2rem;
  }

  &-content {
    letter-spacing: 0.5px;

    ul {
      height: 360px;
    }

    li:not(li:last-child) {
      margin-bottom: 1rem;
    }

    h4 {
      font-size: 1.2rem;

      margin-bottom: 0.3rem;

      display: flex;
      align-items: center;

      position: relative;

      &::before {
        content: '';
        display: inline-block;

        position: absolute;
        left: -0.8rem;

        width: 6px;
        height: 6px;

        background: var(--color-purple);
        border-radius: 2px;

        animation: glitter 1.5s ease-in-out infinite;
      }
    }

    p {
      color: #626262;
      font-size: 1rem;
      line-height: 1.5;
      text-indent: 1rem;
    }
  }
}

@keyframes glitter {
  50% {
    box-shadow: 0px 0px 6px var(--color-purple);
  }

  100% {
    box-shadow: none;
  }
}

@import 'mobile';
