@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

.home {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  font-family: 'Raleway', sans-serif;

  height: 100vh;
  position: relative;

  background: url('../../assets/landing-page-img.jpg') no-repeat center center/cover;

  &::before {
    content: '';
    width: 100vw;
    height: 100vh;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  * {
    z-index: 1;
  }
  
  &-text {
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    
    &-wrapper {
      display: flex;

      color: #fff;
      font-size: 3rem;

      width: 38%;
      padding-left: 1rem;
    }
  }
  
  &-btn {
    margin-top: 2rem;
    padding: 0.6rem 2.6rem;

    color: #fff;
    font-size: 1.2rem;

    display: flex;

    border: #fff 2px solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);

    cursor: pointer;
    
    transition: all 0.5s ease-in;
    
    &:hover {
      color: #ab47bc;
      border: #ab47bc 2px solid;
      box-shadow: 0px 0px 10px #ab47bc;
    }

    &-icon {
      align-self: center;
      margin-left: 0.2rem;
    }

    &:hover &-icon {
      animation: btn-icon 1s linear infinite;
    }
  }
}

.Typewriter {
  color: inherit;
  margin-left: 1rem;
}

.name-color{
  color: #ffcb6b;
  font-weight: 500;
  
}

.position-color {
  color: #89ddff;
  font-weight: 500;
}

@keyframes btn-icon {
  25% {
    transform: translateY(5px);
  }
  
  50% {
    transform: translateY(0px);
  }
  
  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}