.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #292d3e;

  .title {
    color: #fff;
    margin-bottom: 3rem;
  }

  &-text {
    color: #89ddff;
    font-style: italic;
    letter-spacing: 1px;
  }

  &-methods {
    display: flex;

    margin: 1rem 0;

    color: #676e95;

    h4 {
      display: flex;
      align-items: center;

      padding: 0.6rem 1rem;
      margin: 0.5rem;
      background: #202331;

      border-radius: 5px;
      border: transparent 2px solid;

      transition: all 0.5s ease-in-out;

      &:hover {
        color: #eeffff;
        border: #ab47bc 2px solid;
        box-shadow: 0 0 5px #ab47bc;
      }

      svg {
        font-size: 2rem;
        margin-right: 0.3rem;
      }
    }
  }

  .contact-form {
    &-wrapper {
      margin: 0.5rem 20rem;

      .notification {
        padding: 0.5rem;
        margin-bottom: 0.5rem;

        color: #676e95;

        border-radius: 5px;
        border: #676e95 1px solid;
        box-shadow: 0 0 5px #676e95;

        transition: all 0.5s ease-in-out;
      }

      form {
        display: flex;
        flex-direction: column;
        min-width: 450px;
      }

      input,
      textarea {
        font-size: 1rem;
        font-family: inherit;
        color: #eeffff;
        outline: none;
        background-color: #202331;

        width: 100%;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: transparent 2px solid;
        border-radius: 5px;

        transition: all 0.5s;

        &:hover {
          border: #676e95 2px solid;
        }

        &:focus {
          border: #ab47bc 2px solid;
          box-shadow: 0 0 5px #ab47bc;
        }

        &::placeholder {
          color: #676e95;
        }
      }

      input:-webkit-autofill,
      textarea:-webkit-autofill {
        border: #292d3e 2px solid;

        &:hover {
          border: #676e95 2px solid;
        }

        &:focus {
          border: #ab47bc 2px solid;
          box-shadow: 0 0 5px #ab47bc;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      padding: 0.7rem 2rem;
      cursor: pointer;

      margin-top: 1.5rem;
      align-self: center;

      font-size: 1.2rem;
      font-family: inherit;
      letter-spacing: 1px;
      color: #eeffff;

      border: none;
      border-radius: 5px;
      background-color: #ab47bc;

      opacity: 0.8;
      transition: all 0.5s ease-in-out;

      &:hover {
        opacity: 1;
      }

      svg {
        margin-left: 0.3rem;
      }
    }
  }
}

@import 'mobile';
