@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    padding: 0 1rem;

    &-links {
      position: absolute;
        top: 0;
        right: 0px;
      
      width: 50%;
      height: 100vh;
      padding-top: 50px;

      background-color: #202331;
      flex-direction: column;

      align-items: center;

      transform: translateX(100%);
      transition: all 0.5s ease-out;
      
      li {
        opacity: 0;
        margin: 1.5rem 0;
      }
    }
    
    &-burger {
      cursor: pointer;
      display: block;
    }
  }
  
  .nav-active {
    transform: translateX(0%);
  }

  .line-transform {
    .burger-line1 {
      transform: rotate(-45deg) translate(-5.2px, 7.5px);
    }

    .burger-line2 {
      opacity: 0;
    }

    .burger-line3 {
      transform: rotate(45deg) translate(-5.2px, -7.5px);
    }
  }
  
  @keyframes linkItemFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}