.navbar {
  position: fixed;
    z-index: 10;

  width: 100vw;
  padding: 0 6rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  height: 50px;
  background-color: #202331;
  border-bottom: #ab47bc 2px solid;
  transition: all 1s;
  
  &-links {
    display: flex;

    a {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;

      margin: 0 1.5rem;

      transition: all 0.5s ease-out;

      cursor: pointer;

      &:hover {
        color: #ffcb6b;
      }
    }
  }

  &-burger{
    display: none;
    
    div {
      width: 2rem;
      height: 4px;
      margin: 5px;
      background-color: #fff;
      transition: all 0.5s;
    }
  }

  &-visible {
    opacity: 1;
    visibility: visible;
  }

  .highlighted {
    color: #ffcb6b;
  }
}

@import 'mobile';
